.table table {
  font-family: Inter;
  width: 100%;
  border-spacing: 0;
  overflow: auto;
  padding: 10px;
}
tbody {
  background-color: #fff;
}

.table th,
.table td {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #e7e7e7;
}

.table th {
  background-color: #fbfbfb;
  border: 1px solid #e7e7e7;
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
}
