.table table {
  font-family: Inter;
  width: 100%;
  border-spacing: 0;
  overflow: auto;
  padding: 10px;
}
tbody{
  background-color: #fff;
}


.table th,
.table td {
  text-align: left;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
}



.table th {
  background-color: #fbfbfb;
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
}
