.products {
    &__wrapper {
        height: 80vh;
        overflow-y: scroll;
        padding: 16px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 16px;
    }

    &__pagination {
        display: block;
        margin-top: auto;
        background-color: red;
    }
}