.header {
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.719);
  text-align: center;
  padding: 30px;
  color: white;
}
.LockIcon {
  text-align: center;
  margin-top: 110px;
  font-size: 100px;
}
