.products {
    &__wrapper {
        height: 80vh;
        overflow-y: scroll;
        padding: 16px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    &__pagination {
        margin-top: auto;
    }

    &__edit {
        display: flex;
        align-items: center;
    }
}

.orders {
    height: 100%;

    &__tabs {

        height: 100%;
    }

    &__tabs_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow: scroll;
        padding: 16px;
    }

    &__tabs_table {
        padding: 16px;
    }

    &__tabs_pag {
        position: sticky;
        bottom: 0;
        margin-top: auto;
        background-color: #fff;
        z-index: 999;
    }
}