.orders {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  &__calendar {
    border: 1px solid #e7e7e7;
    padding: 7px;
    border-radius: 8px;
    text-align: center;

    :hover {
      box-shadow: none !important;
    }
  }

  &__tabs_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__tabs_table {
    padding: 16px;
    overflow: scroll;
  }

  &__underHeader_input {
    border: 1px solid #e7e7e7;
    padding: 7px;
    border-radius: 6px;
  }

  &__wrapper {
    border-radius: 8px;
    height: 100%;
    overflow: scroll;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0e73f6;
      padding: 5px;
      text-align: center;
      width: 24px;
      height: 24px;
      border-radius: 50px;
      font-size: 12px;
      color: #fff;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    padding: 5px 8px;
    font-size: 16px;
    width: 150px;
    border-radius: 8px;
    text-align: left;
    background-color: #fff !important;
    outline: none;
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      width: 100%;
      max-width: 260px !important;
    }
  }

  &__modal_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d2d2d2;
    padding: 10px;
    gap: 10px;
    width: 150px;
    border-radius: 8px;
  }

  &__btn {
    background-color: #0e73f6;
    color: #fff;
    padding: 9px 20px;
    border-radius: 8px;
    font-size: 14px;
  }

  &__customer_num {
    color: #0e73f6;
  }

  &__modal_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: max-content;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }

  &__tabs_wrapper_but {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 86vh;
  }

  &__tabs_pag {
    position: sticky;
    bottom: 0;
    margin-top: auto;
    background-color: #fff;
    z-index: 999;
  }
  &__tabs{
    height: 100%;
  }
}