.header_btn1 {
  padding: 5px 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #0e73fc;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px; 
}
.categories {
  display: flex;
  flex-direction: column;
  &__under{
    border-bottom: 1px solid #e7e7e7;
  }
  &__btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    border: 1px solid #e5e9eb;
    background-color: #fff;
    font-size: 15.2px;
  }
  &__wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 87vh; 
    @media (max-width: 1550px) {
      max-height: clamp(12.5rem, 6.818rem + 28.41vw, 28.125rem);
      overflow-y: scroll;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
  }
  &__bottom_modal{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
