.mainLayOut {
  display: flex;
  height: 100vh;
  @media (max-height: 700px) {
    justify-content: space-between;
    height: 100dvh;
    overflow-y: scroll;
  }
  @media (max-width: 700px) {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100dvh;
    overflow-y: scroll;
  }
  &__wrapper {
    width: 100%;
    overflow-y: scroll  ;
  }
}
