.clients {

  &__top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
  }
  &__top_items {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__time {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
  }
  &__time{
    span{
    }
  }
  
}
