.orders{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #fff;
    gap: 10px;
    &__left{
        background-color: #fff;
    }
    &__active{
        background-color: red;
    }
    &__cat{
        display: flex;
        flex-direction: column;

    }
    &__button{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}