.header{
  padding: 13px 16px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    font-size: 20px;
    font-weight: 600;
    width: max-content;
    border-right: 2px solid #e7e7e7;
    padding-right: 20px;
  }
  &__wrapperLeft{
    @media (max-width:500px) {
      display: none !important;
    }
  }
  &__bur{
    display: none;
    @media (max-width:500px) {
      display: block;
    }
  }
}