.patientStatistics {
    width: 100%;
    padding: 16px;
    background: #F7F7F7;
    border-radius: 14px;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        .title {
            font-weight: 600;
            font-size: 16px;
            line-height: 19.2px;
            cursor: default;
        }

        .btns {
            display: flex;
            gap: 5px;

            .btn {
                cursor: pointer;
                padding: 5px 10px 5px 10px;
                border-radius: 8px;
                transition: 0.3s all;

                font-weight: 600;
                font-size: 12px;
                line-height: 14.4px;

                &:hover {
                    background: var(--primary-hover);
                    color: #fff;
                }
            }
        }
    }

    .table {
        width: 100%;
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 21fr;


        .fromToLimit {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            &>span {
                position: relative;
                top: -5%;
            }
        }

        .items {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            align-items: flex-end;
            overflow: scroll;
            scrollbar-width: none;
            
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 0 1;
                width: 100%;
                .line {
                    width: 100%;
                    flex-grow: 1;
                    display: flex;
                    align-items: end;
                    &>div {
                
                        width: 100%;
                        min-width: 40px;
                        height: 100%;
                        background: linear-gradient(0deg, #FFFFFF 0%, #17B26A 71.5%);
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                        animation: growHeight 1s forwards;
                    }
                }

                .subKey {
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 15.73px;
                }
            }
        }
    }
    .fromToLimit{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}

@keyframes growHeight {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

.activeKey {
    background: var(--primary-main);
    color: #fff;
}

