.patientStatistics {
    width: 100%;
    padding: 16px;
    background: #F7F7F7;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: clamp(2.5rem, 2.045rem + 2.27vw, 3.75rem);
    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .title {
            font-weight: 600;
            font-size: 16px;
            line-height: 19.2px;
            cursor: default;
            border-left: 2px solid #0E73F6;
            padding: 5px;

        }

        .btns {
            display: flex;
            gap: 5px;

            .btn {
                cursor: pointer;
                padding: 5px 10px 5px 10px;
                border-radius: 8px;
                transition: 0.3s all;
                border: 1px solid #e7e7e7;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 12px;
                line-height: 14.4px;

                &:hover {
                    background: var(--primary-hover);
                    color: #fff;
                }
            }
        }
    }

    .table {
        width: 100%;
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 21fr;

        .fromToLimit {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            &>span {
                position: relative;
                top: -5%;
            }
        }

        .items {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            align-items: flex-end;
            overflow: scroll;
            scrollbar-width: none;

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 0 1;
                width: 100%;

                .line {
                    width: 100%;
                    flex-grow: 1;
                    display: flex;
                    align-items: end;

                    &>div {

                        width: 100%;
                        min-width: 40px;
                        height: 100%;
                        background: linear-gradient(0deg, #FFFFFF 0%, #0E73F6 71.5%);
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                        animation: growHeight 1s forwards;
                    }
                }

                .subKey {
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 15.73px;
                }
            }
        }
    }

    .fromToLimit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}

@keyframes growHeight {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

.activeKey {
    background: var(--primary-main);
    color: #fff;
}

.dash {
    &__btn {
        color: #fff;
        border-radius: 8px;
        padding: 10px 20px;
        background-color: #0e73fc;
    }

    &__top {
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media (max-width:970px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:530px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        background-color: #f7f7f7;
        padding: 16px;
        gap: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 8px;
    }

    &__info {
        p {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
        }
    }

    &__info_title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;

    }

    &__id1 {
        background-color: #e3dbf8;
        padding: 13px;
        border-radius: 8px;
    }

    &__id2 {
        background-color: #cef1fb;
        padding: 13px;
        border-radius: 8px;
    }

    &__id3 {
        background-color: #d2fdf2;
        padding: 13px;
        border-radius: 8px;
    }

    &__id4 {
        padding: 13px;
        background-color: #fff1d5;
        border-radius: 8px;
    }
    &__select{
        display: flex;
        gap: 10px;
    }

    &__underHeader_input {
        border: 1px solid #e7e7e7;
        padding: 8px;
        border-radius: 8px;
        color-scheme: red !important;
        cursor: pointer;
    }


}