.wrapper {
    
}

.btn {
    font-family: Inter;
    display: flex;
    align-items: center;
    padding: 8px 12px; 
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.006em;
    color: #FFF;
}

.plus {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.006em;
    color: #FFF;
}