// @import './fonts.scss';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "./variables.scss";
@import "./mixins.scss";

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.MuiDrawer-root {
  height: 100dvh;
}

.MuiPaper-root {
  position: relative !important;
}

.clients__menu {
  border: 1px solid #e7e7e7;
  padding: 7px 10px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
}

.active {
  background-color: #0e73f6;
  border-radius: 8px;
  padding: 7px;
}

.header_btn1 {
  padding: 5px 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #0e73fc;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
}

.table {
  border: 1px solid #e7e7e7;
}

td {
  border-right: 1px solid #e7e7e7 !important;
  border-left: 1px solid #e7e7e7 !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header_btn1 {
  justify-content: center;
}

.css-hdd9l7 {
  background: var(--chakra-colors-blackAlpha-600) !important;
}

.pagination {
  display: flex;
  justify-content: end;
  gap: 5px;
  border-top: 1px solid #e7e7e7;
  padding: 5px 0;
  li {
    padding: 8px;
    font-size: 16px;
  }
}

.previous.disabled {
  path {
    fill: gray;
  }
  font-size: 16px;
}
.previous {
  path {
    fill: #0e73fc;
  }
  font-size: 16px;
  font-weight: 900;
}
.next {
  path {
    fill: #0e73fc;
  }
  font-weight: 900;
  font-size: 16px;
}
.activePagination {
  background-color: #0e73fc;
  border-radius: 8px;
  color: #fff;
}
.p-inputtext.p-component.p-inputtext.p-component:hover {
  box-shadow: none;
}
.p-inputtext.p-component.p-inputtext.p-component:focus {
  box-shadow: none;
}
.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  box-shadow: none !important;
}
.tablebodyrowprops {
  padding: 10px !important;
}
.chakra-tabs__tab-panel.css-a5mhaz{
  padding: 1rem 0;
}
.p-datepicker-group-container{
  padding: 10px !important;
}