

@mixin reset-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin breakpoint-down($size) {
  @media only screen and (max-width: $size) {
      @content;
  }
}